{% load static %}
<html>
    <head>
        <title>Categories</title>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    </head>
    <body>
        <div id="top-bar">
            <div id="quizzards"><b>Quizzards</b></div>
            <div id="home"><b><a href="/polls">Home</a></b></div>
            <div id="signout"><b><a href="/accounts/logout">Signout</a></b></div>
        </div>
        <div id="heading">
            <center>
                <h2>Welcome to Quizzards!</h2>
                <h3>Get ready for the quizzing extravaganza.</h3>
            </center>
        </div>
        <div id="categories">
            <br><br>
            <h3>Please select any of the following categories to start!</h3>
            {% if category_list %}
                <ul>
                {% for category in category_list %}
                    <li><a href = "{% url 'polls:category' category.id %}">{{category.category_text}}</a></li>
                    <br><br>
                {% endfor %}
                </ul>
            {% else %}
                <p>No categories are available.</p>
            {% endif %}
        </div>
    </body>
</html>